@import "./utilities/theme.less";
@import "./components/header.less";
@import "./components/hero.less";
@import "./components/features.less";
@import "./components/pricing.less";
@import "./components/faq.less";
@import "./components/footer.less";

// Common to several sections
html {
    scroll-behavior: smooth;
}

body {
    font-family: @font-family;
    background-color: @neutral-color;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details {
    height: fit-content;
    max-height: 3rem;
    overflow: hidden;
    transition: max-height 400ms ease-out;
}

input {
    display: none;
}

input:checked + details {
    max-height: 200px;
}

.accent-button {
    max-height: 35px;
    padding: 5px 10px;
    color: @white;
    background-color: @accent-color;
    border: none;
    border-radius: 15px;
    white-space: nowrap;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.secondary-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: @white;
    padding: 10px 20px;
    background-color: @secondary-dark-color;
    border: none;
    border-radius: 15px;
    white-space: nowrap;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.secondary-button img {
    width: 18px;
    height: 18px;
}

.tertiary-button {
    border: @secondary-dark-color solid 1.5px;
    padding: 12px;
    border-radius: 20px;
    background-color: @white;
    white-space: nowrap;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.accent-button:hover, .secondary-button:hover, .tertiary-button:hover {
    transform: scale(1.1);
}

swiper-container {
    margin: 0;
    padding: 0;
    overflow: visible;
    min-width: 100vw;
    height: 100%;
}

swiper-slide {
    overflow: visible;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: @tablet) {
    // Styles for tablet view
    .accent-button {
        padding: 10px 20px;
        border-radius: 20px;
    }

    .secondary-button {
        gap: 20px;
        padding: 15px 30px;
        border-radius: 20px;
    }

}

@media screen and (min-width: @desktop) {
    // Styles for desktop view
    .accent-button {
        width: 8.5rem;
        text-align: center;
        padding: 15px;
    }

    .secondary-button {
        justify-content: center;
    }
}