@import "../utilities/theme.less";

.features {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px 0;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__title {
        width: 80%;
        margin: 10px 0 0 0;
        text-align: start;
        color: @primary-color;
    }

    &__description {
        max-width: 80%;
        margin: 5px 0;
        text-align: justify;
        color: @secondary-light-color;
    }

    &__credit-card-container {
        max-width: 100%;
    }

    &__credit-card-img-container {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__credit-card-img-container img {
        max-width: 65%;
        height: auto;
        box-shadow: 0px 25px 50px 0px rgba(22,25,79,0.05);
    }

    &__cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__small-cards-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__small-card {
        padding: 15px;
        width: 130px;
        height: 100px;
        border-radius: 35px;
        box-shadow: 0px 25px 50px 0px rgba(22,25,79,0.05);
        background-color: @white;
    }

    &__small-card h4 {
        margin: 10px 0;
        line-height: 20px;
    }

    &__small-card h2 {
        margin: 20px 0;
        line-height: 25px;
        color: @primary-color;
    }

    &__big-card {
        display: flex;
        justify-content: center;
        padding: 15px;
        border-radius: 35px;
        box-shadow: 0px 25px 50px 0px rgba(22,25,79,0.05);
        background-color: @white;
        align-items: center;
        align-self: center;
        width: 320px;
        height: 120px;
        margin-bottom: 40px;
    }

    &__big-card img {
        max-width: 95%;
        max-height: 95%;
    }

    &__languages-profiles {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    &__languages-profiles div {
        color: @secondary-light-color;
    }

    &__chat-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    &__chat-wrapper img {
        max-width: 70%;
    }
}

@media screen and (min-width: @tablet) {
    // Styles for tablet view
    .features {
        &__wrapper {
            padding: 40px 20px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &__invert {
            flex-direction: row-reverse;
        }

        &__invert h2 {
            text-align: start;
        }

        &__invert &__description {
            text-align: start;
            align-items: self-end;
        }

        &__invert &__title-wrapper {
            align-items: self-start;
        }

        &__title-wrapper {
            width: 50%;
            align-items: self-end;
        }

        &__title {
            width: 95%;
            text-align: end;
        }

        &__description {
            width: 95%;
            text-align: end;
        }

        &__credit-card-img-container img {
            max-width: 80%;
            height: auto;
        }

        &__cards-wrapper {
            min-width: 55%;
        }

        &__small-card {
            padding: 15px;
            min-width: 45%;
            height: 100px;
        }

        &__small-card-title {
            padding: 0 5px;
            white-space: nowrap;
        }

        &__big-card {
            margin: 0 6%;
            width: 85%;
        }

        &__chat-wrapper {
            min-width: 50%;
            margin-bottom: 0;
        }

        &__chat-wrapper img {
            max-width: 80%;
        }


    }
}

@media screen and (min-width: @desktop) {
    // Styles for desktop view
    .features {
        &__wrapper {
            margin: 5% 6%;
            gap: 100px;
        }

        &__title-wrapper {
            width: 40%;
            align-items: center;
            text-align: justify;
            gap: 20px;
        }

        &__title {
            line-height: 60px;
        }

        &__title, &__description {
            width: 75%;
            text-align: start;
        }

        &__invert {
            align-items: center;
        }

        &__credit-card-img-container img {
            max-width: 100%;
        }

        &__cards-wrapper {
            width: 50%;
        }
    
        &__small-cards-wrapper{
            width: 100%;
        }
    
        &__small-card {
            min-width: 0;
            width: 193px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        &__small-card h4 {
            margin: 20px;
        }
    
        &__small-card h2 {
            margin: 20px;
        }
    
        &__big-card {
            display: flex;
            justify-content: center;
            padding: 15px 15px 0 15px;
            border-radius: 35px;
            box-shadow: 0px 25px 50px 0px rgba(22,25,79,0.05);
            background-color: @white;
            align-items: center;
            align-self: center;
            width: 433px;
            height: 218px;
            margin-bottom: 0px;
        }
    
        &__big-card img {
            max-width: 95%;
            max-height: 95%;
        }
    }
}