@import "../utilities/theme.less";

// Section 1: Hero
.hero {
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__title {
        max-width: 80%;
        color: @white;
        margin-bottom: 10px;
        text-align: center;
    }

    &__description {
        color: @white;
        margin: 0 0 10px 0;
        max-width: 80%;
        text-align: center;
    }

    &__register {
        width: 35%;
    }

    &__demo-container {
        max-width: 100%;
    }

    &__demo-img-container {
        background: none;
        min-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__demo-img-container img {
        padding-left: 75px;
        max-width: 65%;
        height: auto;
    }
}

@media screen and (min-width: @tablet) {
    // Styles for tablet view
    .hero {
        &__title-wrapper {
            gap: 20px;
        }

        &__title {
            margin-top: 20px;
        }

        &__description {
            color: @white;
            max-width: 60%;
        }

        &__register {
            width: 125px;
        }

        &__demo-container {
            max-width: 100%;
        }
    
        &__demo-img-container {
            margin: 0 0 30px 0;
        }
    
        &__demo-img-container img {
            margin: 40px 0;
            padding-left: 110px;
            max-width: 45%;
            height: auto;
        }
    }
}

@media screen and (min-width: @desktop) {
    // Styles for desktop view
}