h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}
h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
}
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}
h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.body-intro {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.body-main {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.medium-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.caption-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }
  h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
  }
  h4 {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
  }
  .body-intro {
    font-size: 21px;
    font-weight: 400;
    line-height: 35px;
  }
  .body-main {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
  }
  .medium-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .caption-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
  }
  .small-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
}
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
  }
  h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
  }
  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .body-intro {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }
  .body-main {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .medium-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
  }
  .caption-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
  }
  .small-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
}
.header {
  background-image: url('../assets/mobile-bg.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.header__logo img {
  margin: 10px 0 0 20px;
  max-width: 40px;
  max-height: 40px;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 20px;
}
.header__nav-link {
  color: #FFFFFF;
  text-decoration: none;
}
.header__signup-button {
  margin: 0 20px 0 0;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url('../assets/tablet-bg.webp');
    padding: 2%;
  }
  .header__logo img {
    max-width: 50px;
    max-height: 50px;
  }
  .header__nav-list {
    font-size: 17px;
    min-width: 40vw;
    gap: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    background-image: url('../../assets/desktop-bg.webp');
  }
  .header__container {
    justify-content: space-around;
  }
  .header__nav-list {
    min-width: 25vw;
    gap: 20px;
  }
  .header__logo img {
    max-width: 48px;
    max-height: 52px;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    padding: 5% 6%;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}
.hero__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero__title {
  max-width: 80%;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-align: center;
}
.hero__description {
  color: #FFFFFF;
  margin: 0 0 10px 0;
  max-width: 80%;
  text-align: center;
}
.hero__register {
  width: 35%;
}
.hero__demo-container {
  max-width: 100%;
}
.hero__demo-img-container {
  background: none;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__demo-img-container img {
  padding-left: 75px;
  max-width: 65%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .hero__title-wrapper {
    gap: 20px;
  }
  .hero__title {
    margin-top: 20px;
  }
  .hero__description {
    color: #FFFFFF;
    max-width: 60%;
  }
  .hero__register {
    width: 125px;
  }
  .hero__demo-container {
    max-width: 100%;
  }
  .hero__demo-img-container {
    margin: 0 0 30px 0;
  }
  .hero__demo-img-container img {
    margin: 40px 0;
    padding-left: 110px;
    max-width: 45%;
    height: auto;
  }
}
@media screen and (min-width: 1025px) {
  .hero__wrapper {
    padding: 5% 6%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hero__title {
    margin-top: 20px;
    align-self: start;
    text-align: start;
    max-width: 93%;
  }
  .hero__description {
    text-align: justify;
    align-self: start;
    max-width: 75%;
  }
  .hero__register {
    text-align: center;
    align-self: start;
    width: 140px;
    height: 26px;
  }
  .hero__demo-container {
    width: 100%;
  }
  .hero__demo-img-container {
    margin: 0;
  }
  .hero__demo-img-container img {
    margin: 40px 0;
    padding-left: 60px;
    max-width: 65%;
    height: auto;
  }
}
.features__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}
.features__title-wrapper {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.features__title {
  width: 80%;
  margin: 10px 0 0 0;
  text-align: start;
  color: #554dde;
}
.features__description {
  max-width: 80%;
  margin: 5px 0;
  text-align: justify;
  color: #6A6D9E;
}
.features__credit-card-container {
  max-width: 100%;
}
.features__credit-card-img-container {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__credit-card-img-container img {
  max-width: 65%;
  height: auto;
  box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);
}
.features__cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.features__small-cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.features__small-card {
  padding: 15px;
  width: 130px;
  height: 100px;
  border-radius: 35px;
  box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);
  background-color: #FFFFFF;
}
.features__small-card h4 {
  margin: 10px 0;
  line-height: 20px;
}
.features__small-card h2 {
  margin: 20px 0;
  line-height: 25px;
  color: #554dde;
}
.features__big-card {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 35px;
  box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);
  background-color: #FFFFFF;
  align-items: center;
  align-self: center;
  width: 320px;
  height: 150px;
  margin-bottom: 40px;
}
.features__big-card canvas {
  max-width: 95%;
  height: 95%;
}
.features__languages-profiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.features__languages-profiles div {
  color: #6A6D9E;
}
.features__chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__chat-wrapper img {
  max-width: 70%;
}
@media screen and (min-width: 768px) {
  .features__wrapper {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .features__invert {
    flex-direction: row-reverse;
  }
  .features__invert h2 {
    text-align: start;
  }
  .features__invert .features__description {
    text-align: start;
    align-items: self-end;
  }
  .features__invert .features__title-wrapper {
    align-items: self-start;
  }
  .features__title-wrapper {
    width: 50%;
    align-items: self-end;
  }
  .features__title {
    width: 95%;
    text-align: end;
  }
  .features__description {
    width: 95%;
    text-align: end;
  }
  .features__credit-card-img-container img {
    max-width: 80%;
    height: auto;
  }
  .features__cards-wrapper {
    min-width: 55%;
  }
  .features__small-card {
    padding: 15px;
    min-width: 45%;
    height: 100px;
  }
  .features__small-card-title {
    padding: 0 5px;
    white-space: nowrap;
  }
  .features__big-card {
    margin: 0 6%;
    width: 85%;
  }
  .features__chat-wrapper {
    min-width: 50%;
    margin-bottom: 0;
  }
  .features__chat-wrapper img {
    max-width: 80%;
  }
}
@media screen and (min-width: 1025px) {
  .features__wrapper {
    margin: 5% 6%;
    gap: 100px;
  }
  .features__title-wrapper {
    width: 40%;
    align-items: center;
    text-align: justify;
    gap: 20px;
  }
  .features__title {
    line-height: 60px;
  }
  .features__title,
  .features__description {
    width: 75%;
    text-align: start;
  }
  .features__invert {
    align-items: center;
  }
  .features__credit-card-img-container img {
    max-width: 100%;
  }
  .features__cards-wrapper {
    width: 50%;
  }
  .features__small-cards-wrapper {
    width: 100%;
  }
  .features__small-card {
    min-width: 0;
    width: 193px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .features__small-card h4 {
    margin: 20px;
  }
  .features__small-card h2 {
    margin: 20px;
  }
  .features__big-card {
    padding: 15px 15px 0 15px;
    border-radius: 20px;
    width: 433px;
    height: 218px;
    margin-bottom: 0px;
  }
  .features__big-card img {
    max-width: 95%;
    max-height: 95%;
  }
}
.pricing__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;
}
.pricing__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pricing__title {
  width: 81%;
  margin-bottom: 10px;
  text-align: start;
  color: #554dde;
}
.pricing__title-span {
  color: #f44e77 !important;
}
.pricing__description {
  max-width: 80%;
  margin: 5px 0;
  text-align: justify;
  color: #6A6D9E;
}
.pricing__cards-wrapper {
  max-width: 100%;
  margin: auto;
}
.pricing__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 35px;
  background-color: #FFFFFF;
  align-items: center;
  align-self: center;
  max-width: 260px;
  box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);
}
.pricing__card-tier {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}
.pricing__card-price {
  margin: 10px 0;
  font-weight: 400;
  line-height: 30px;
}
.pricing__card-description {
  max-width: 92%;
  color: #6A6D9E;
  text-align: center;
}
.pricing__credit-card-container {
  max-width: 100%;
}
.pricing__credit-card-img-container {
  visibility: hidden;
}
.pricing__credit-card-img-container img {
  height: 0;
  visibility: hidden;
}
.pricing__includes-wrapper {
  margin: 0 0 10px 0;
  padding-inline-start: 0;
  list-style: none;
  max-width: 90%;
}
.pricing__includes,
.pricing__not-includes {
  padding-inline-start: 30px;
  margin: 5px 0 10px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.pricing__not-includes {
  color: #B7B7B7;
}
.pricing__not-includes img {
  filter: invert(1);
}
@media screen and (min-width: 768px) {
  .pricing__credit-card-img-container {
    margin: 0 0 20px 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .pricing__credit-card-img-container img {
    max-width: 65%;
    height: auto;
    box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);
    visibility: visible;
  }
  .pricing__card-button {
    margin-bottom: 25px;
  }
  .pricing__title-wrapper {
    align-items: flex-start;
    margin: 0 0 0 90px;
  }
  .pricing__title {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .pricing__title-wrapper {
    align-items: center;
    gap: 0;
    margin: 10px auto;
  }
  .pricing__title {
    width: 100%;
  }
  .pricing__description {
    font-size: 20px;
  }
}
.faq__wrapper {
  margin: 30px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.faq__title {
  width: 80%;
  margin-bottom: 10px;
  text-align: start;
  color: #554dde;
}
.faq__title-span {
  color: #f44e77 !important;
}
.faq__description {
  max-width: 80%;
  margin: 5px 0;
  text-align: justify;
  color: #6A6D9E;
}
.faq__questions-wrapper {
  margin-bottom: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.faq__accordion1,
.faq__accordion4,
.faq__accordion5 {
  display: flex;
  justify-content: center;
  padding: 0 15px 12px 15px;
  border-radius: 20px;
  background-color: #FFFFFF;
  align-items: center;
  align-self: center;
  width: 80%;
  box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);
}
.faq__accordion1 h4,
.faq__accordion4 h4,
.faq__accordion5 h4 {
  font-weight: 400;
  margin: 5px 8px 12px 8px;
  line-height: 23px;
  font-size: 16px;
  max-width: 90%;
  text-align: start;
}
.faq__accordion2,
.faq__accordion3 {
  display: flex;
  justify-content: center;
  padding: 5px 15px 3px 15px;
  border-radius: 20px;
  box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.05);
  background-color: #FFFFFF;
  align-items: center;
  align-self: center;
  width: 80%;
}
.faq__accordion2 h4,
.faq__accordion3 h4 {
  font-weight: 400;
  margin: 8px;
  line-height: 23px;
  font-size: 16px;
  max-width: 90%;
  text-align: start;
}
.faq__accordion-title img:hover {
  cursor: pointer;
}
.faq__accordion-content {
  min-height: fit-content;
}
.faq__accordion-title label {
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.faq__accordion-title img {
  max-width: 25px;
  max-height: 25px;
}
@media screen and (min-width: 768px) {
  .faq__accordion1,
  .faq__accordion4,
  .faq__accordion5 {
    padding: 5px 15px 3px 15px;
  }
  .faq__accordion1 h4,
  .faq__accordion4 h4,
  .faq__accordion5 h4 {
    margin: 8px;
    line-height: 23px;
    font-size: 16px;
    max-width: 90%;
    text-align: start;
  }
}
@media screen and (min-width: 1025px) {
  .faq__title-wrapper {
    align-items: center;
    gap: 0;
    margin: 10px auto;
  }
  .faq__title {
    width: 100%;
    text-align: center;
  }
  .faq__description {
    max-width: 45%;
    text-align: center;
    font-size: 20px;
  }
  .faq__questions-wrapper {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .faq__accordion-title h4 {
    font-size: 18px;
    font-weight: 700;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
  padding: 10px 0;
  background-color: #DCE2F0;
}
.footer__copyright-wrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__copyright-text {
  color: #6A6D9E;
}
.footer__links-wrapper {
  width: 90%;
  padding: 0 0 0 15px;
  margin: 20px auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 15px;
}
.footer__link {
  color: #16194F;
  width: 60%;
  text-decoration: none;
  text-align: start;
}
.footer__link:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .footer__copyright-wrapper {
    margin: 30px 0;
    min-width: 50%;
    align-items: center;
    gap: 20px;
  }
  .footer__links-wrapper {
    width: 80%;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .footer__link {
    width: 70%;
    white-space: nowrap;
    text-decoration: none;
    text-align: start;
  }
}
@media screen and (min-width: 1025px) {
  .footer__wrapper {
    flex-direction: row-reverse;
  }
  .footer__copyright-wrapper {
    flex-direction: column;
    margin: 80px 150px;
    min-width: 0;
    width: 30%;
    align-items: flex-start;
  }
  .footer__links-wrapper {
    width: 50%;
    margin: 80px 250px 80px 50px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .footer__link {
    width: 33%;
    text-align: start;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F6FF;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details {
  height: fit-content;
  max-height: 3rem;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}
input {
  display: none;
}
input:checked + details {
  max-height: 200px;
}
.accent-button {
  max-height: 35px;
  padding: 5px 10px;
  color: #FFFFFF;
  background-color: #f44e77;
  border: none;
  border-radius: 15px;
  white-space: nowrap;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
.secondary-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: #16194F;
  border: none;
  border-radius: 15px;
  white-space: nowrap;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
.secondary-button img {
  width: 18px;
  height: 18px;
}
.tertiary-button {
  border: #16194F solid 1.5px;
  padding: 12px;
  border-radius: 20px;
  background-color: #FFFFFF;
  white-space: nowrap;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
.accent-button:hover,
.secondary-button:hover,
.tertiary-button:hover {
  transform: scale(1.1);
}
swiper-container {
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  min-width: 85vw;
  max-width: 85vw;
  height: 100%;
}
swiper-slide {
  overflow: visible;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .accent-button {
    padding: 10px 20px;
    border-radius: 20px;
  }
  .secondary-button {
    gap: 20px;
    padding: 15px 30px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .accent-button {
    width: 8.5rem;
    text-align: center;
    padding: 15px;
  }
  .secondary-button {
    justify-content: center;
  }
}
