@import "../utilities/theme.less";

// Header
.header {
    background-image: url('../assets/mobile-bg.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }

    &__logo img {
        margin: 10px 0 0 20px;
        max-width: 40px;
        max-height: 40px;
    }

    &__nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        gap: 20px;
    }

    &__nav-link {
        color: @white;
        text-decoration: none;
    }

    &__signup-button {
        margin: 0 20px 0 0;
    }
}

@media screen and (min-width: @tablet) {
    // Styles for tablet view
    .header {
        background-image: url('../assets/tablet-bg.webp');
        padding: 2%;

        &__logo img {
            max-width: 50px;
            max-height: 50px;
        }

        &__nav-list {
            font-size: 17px;
            min-width: 40vw;
            gap: 40px;
        }
    }
}

@media screen and (min-width: @desktop) {
    // Styles for desktop view
    .header {
        background-image: url('../../assets/desktop-bg.webp');

        &__container {
            justify-content: space-around;
        }
        
        &__nav-list {
            min-width: 25vw;
            gap: 20px;
        }

        &__logo img {
            max-width: 48px;
            max-height: 52px;
        }
    }
}

@media screen and (min-width: @bigScreen) {
    // Styles for big desktop view
    .header {
        padding: 5% 6%;
    }
}
